.header{
    background-color: black; 
}
.header__inner {
    max-width: 1320px;
    margin:0px auto;
    padding: 0px 10px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.search-form{
    max-width:400px;
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search-form__inner{
    max-width:400px;
    height: 50px;
    width: 100%;
}
.search-form__input{
    padding:10px;
    background-color: white;
    width:100%;
    height: 100%;
}
.nav{
    display: flex;
    align-items: center;
    gap:20px;
}
.logout__button--submit{
    color:white;
    cursor:pointer;
}
.login__button{
    color: white;
}
.mypage__header-link{
    color:white;
}
.exhibition-page{
    height:40px;
    width: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.exhibition-page__link{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.main{
    background-color: white;
}
@media (max-width: 850px) {
.header__inner{
    flex-wrap: wrap;
    height:auto;
    padding:10px;
  }
.header__title {
    order: 1;
}
.nav {
    order: 2;
    margin-left: auto;
}
.search-form {
    order: 3;
    flex: 0 0 100%;
    max-width: none;
}
}