.container{
    max-width: 1320px;
    margin:0px auto;
}
.tab__group{
    display: flex;
    gap:100px;
    padding:40px 10px 10px 50px;
    border-bottom: 1px solid black;
}
.index-tab__link{
    font-size: 24px;
    color: black;
}
.mylist-tab__link{
    font-size: 24px;
    color: black;
}
.index-tab.active .index-tab__link,
.mylist-tab.active .mylist-tab__link{
    color: rgb(255, 85, 85);
    font-size: 24px;
    font-weight: bold;
}
.message{
    padding: 10px;
}
.error-message{
    color:red;
}
.product__content{
    margin:20px auto;
}
.product__list{
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
    padding:40px 10px;
    gap:30px;
}
.product-card__inner{
    position: relative;
}
.image{
    width:100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.product__image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.product__sold{
    position:absolute;
    top:30%;
    left:20%;
    color:rgb(255, 85, 85);
    background-color: white;
    padding:20px;
    font-size: 48px;
    font-weight: bold;
}
.product__title{
    font-size: 24px;
    font-weight: bold;
}
