.container{
    max-width: 1320px;
    margin:0px auto;
}
.message-box{
    background-color: rgba(30, 190, 0, 0.7);
    display: flex;
    align-items: center;
    padding:10px 50px;
}
.message{
    color: white;
    font-weight: bold;
}
.tab__group{
    display: flex;
    gap:100px;
    padding:40px 10px 10px 50px;
    border-bottom: 1px solid black;
}
.index-tab__link{
    font-size: 24px;
    color: black;
}
.mylist-tab__link{
    font-size: 24px;
    color: black;
}
.index-tab.active .index-tab__link,
.mylist-tab.active .mylist-tab__link{
    color: rgb(255, 85, 85);
    font-size: 24px;
    font-weight: bold;
}
.error{
    padding: 10px;
    background-color: red;
}
.error-message{
    color:white;
}
.product__content{
    margin:20px auto;
}
.product__list{
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
    padding:40px 10px;
    gap:30px;
}
.product-card__inner{
    position: relative;
}
.image{
    width:100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.product__image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.product__sold{
    position:absolute;
    top: 12px;
    left: 12px;
    color:rgb(255, 85, 85);
    background-color: rgba(255,255,255,0.9);
    border:2px solid rgb(255, 85, 85);
    padding: clamp(8px, 2vw, 16px);
    font-size: clamp(20px, 4vw, 36px);
    font-weight: bold;
    border-radius: 6px;
}
.product__title{
    font-size: 24px;
    font-weight: bold;
}
@media (max-width: 1200px){
  .product__list{
    grid-template-columns: repeat(3, minmax(250px,1fr));
  }
}
@media(max-width: 850px){
.product__list{
    grid-template-columns: repeat(2,minmax(250px,1fr));
    padding:10px 10px;
    gap:10px;
    }
}
@media(max-width: 600px){
.product__list{
    grid-template-columns:1fr;
    padding:10px 10px;
    gap:10px;
    }
}
